@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Micro+5+Charted&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.row {
  align-items: center;
}


/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
  background-color: #240046;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}


form h1 {
  font-family: 'Roboto Slab';
  text-align: center;
  font-weight: bold;
  font-weight: 900;
  font-size: 30px;
  color: white
}


label {
  color: #fff;
  font-size: 16px;
  justify-content: left;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  transition: .5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  border: none;
  outline: none;
  border-radius: 4px;
}

input[type='text'],
input[type='number'] {
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 10px;
  height: 40px;
}

.btn {
  height: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
  border-radius: 10px;
}

.btn:hover {
  background-color: red;
}